[2020-06-27 19:44] yarikoptic opened #1 "Initial discussion and possible takers?"
Dear @adswa @snastase @vsoch @effigies @mih @soichih and all of the @con/i18n and the internet.

I initiated this repo since found no existing implementation yet.  [README.md](https://github.com/con/allcontributors-to-zenodo/blob/master/README.md) gives more content but overall point is to automaintain .zenodo.org based on information from allcontributors for which there is a very convenient setup

[2020-06-27 19:48] vsoch commented on #1
Choose me! I always have a code itch :)

You mean take the json generated by all-contributors and create a .zenodo.json (having a record already created, and then amended, or not created and created totally programmatically?)

I'm working on a more streamlined generation of the usrse map, but I'll be done within an hour or so and can work on this later today.

[2020-06-27 20:05] effigies commented on #1
This might be helped by asking contributors to adopt the convention in https://github.com/effigies/meta where users can specify their Zenodo author information.

[2020-06-27 20:16] yarikoptic commented on #1
The choice is made, yes and cool @vsoch ! Will add you to this repo as admin in a sec.
Yes, @effigies , it would help! But if could be automated - why not? ;-)

[2020-06-27 20:23] effigies commented on #1
Oh sure. Just not sure how to automatically associate that information.

[2020-06-27 20:34] vsoch commented on #1
@yarikoptic can we walk through the steps, e.g.,

 1. a script that takes
    - a Zenodo DOI as input
    - optionally a GitHub repository (connected repos have the GitHub address in the Zenodo metadata as a related identifier).
 2. Generates a .zenodo.json based on contributors (any thresholding / other criteria for adding?)
 3. What about updating an existing zenodo.json?

And in terms of metada

[2020-06-27 21:00] vsoch commented on #1
Just kidding, you already wrote it out in the README! I really need to read things more carefully before asking. Let me see if I can get started on something.

[2020-06-27 22:51] vsoch commented on #1
okay I've started something locally, and I think I'm going to provide a one off script to run it, but also a GitHub action that can handle the whole thing for you. I won't be able to finish this today, but I have most of tomorrow to work on it, so soon :)

[2020-06-28 04:43] yarikoptic commented on #1
yeap, I think there is enough information/API to associate github login name with an orcid id. Thank you @vosch!

[2020-06-28 21:39] vsoch commented on #1
hey @yarikoptic I have almost enough for PR, but we have an issue when the user doesn't expose their email publicly via the API (I don't) which means that we cannot find any kind of email to resolve for an ORCID id.

Also, you've framed it like "use the allcontributors to update zenodo" and I don't think that's quite right - it's more like "Use the GitHub API to update a zenodo.json and/or an .all

[2020-06-29 01:39] yarikoptic commented on #1
I framed it that way because we already use allcontributors to selectively add and annotate contributors. allcontributors CLI and github bot made it very easy, and I do not think it is worth re-implementing allcontributors.  I do not think that we should anyhow update `.all-contributorsrc` to not interfere with aforementioned CLI and bot.  We should only establish linkage from github logins/info t

[2020-06-29 02:28] vsoch commented on #1
How about scoping it as a zenodo update tool then? By default, we would parse from GitHub. The user can then add an .all-contributorsrc file as another source to find people.

Interesting... I thought because AFAIK people are typically using a real email for their git configuration, which gets into each commit; that would be the email they likely have associated with github account and that hiding

[2020-06-29 21:14] vsoch opened #3 "Consider Orcid to retrieve metadata (requires hosted server)"
@yarikoptic I'm looking into adding Orcid now, but this is problematic because it's an Oauth2 flow, which requires to log in and then generate a client id and secret. E.g., if you go to https://orcid.org/developer-tools this is the only option - I don't see any option to just generate a one off token to use for GitHub actions, for example. How did you have in mind this would work? Requiring the us

[2020-06-29 22:03] yarikoptic commented on #3
I was looking into just having a tool, so it (locally) could have done oauth2 authentication given user's credentials and then do what it needs to do for that run, and possibly reauthenticate in the future. we do smth like that with github in datalad, but there I believe they are going to deprecate it in favor of using API tokens.
Also rclone provides an example for amazing handling of such intera

[2020-06-29 23:07] vsoch commented on #3
Hmm I'll need to think about this because client id / tokens aren't typically for this kind of use case.

I made huge progress today, take a look at the https://github.com/con/tributors/tree/refactor/tributors branch if you are interested. I still need to update the Docker usage and action, and then think about if this is reasonable to add in some way, and how to add an interactive component. But

[2020-06-29 23:09] vsoch commented on #3
I hope you like the name too, it's perfect for this repo, my best lame name / pun yet!

harharhrh

[2020-06-29 23:10] vsoch commented on #3
And don't worry I'll open a PR when it's ready for review, going to add issues/todos at that time too.

[2020-06-29 23:57] yarikoptic commented on #3
Ha ha ha - name is awesome!!

[2020-06-30 00:05] vsoch opened #4 "Create pretty docs on GitHub pages"

[2020-06-30 00:05] vsoch opened #5 "Add interactive mode"

[2020-06-30 00:06] vsoch commented on #4
Make sure to have:

 - problem statement
 - usage (command line / local, docker, github action)
 - quick start guide

[2020-06-30 01:08] yarikoptic commented on #3
You do have a talent for good names ;-)

[2020-06-30 18:54] vsoch opened #6 "Update container to quay.io/con/tributors"
And this container should be used as the base for the action container, that way we have a much speedier run.

[2020-06-30 18:54] vsoch commented on #6
@yarikoptic do you have a quay.io organization (or similar) to push to?

[2020-06-30 19:45] vsoch commented on #3
@yarikoptic I still am not clear how you expect this to work - an app that holds a key/token needs to have a hosted url, and a redirect url. This would require running a server, so I'm not sure what you have in mind for this to work?

[2020-06-30 19:55] vsoch commented on #3
Actually let me fuss around with the Google playground as a redirect url, maybe it would work anyway! If they don't check that we have something running at localhost it might be possible. Testing now.

[2020-06-30 19:58] yarikoptic commented on #6
I don't think I do yet. Should I establish one connected to this github org?

[2020-06-30 21:01] vsoch commented on #3
okay I got the endpoints working, but the bad news is that it won't be useful for most:

![image](https://user-images.githubusercontent.com/814322/86176656-7ebe5700-bae2-11ea-848f-daf5335d76eb.png)

Just tested my email, returned no results!

[2020-06-30 21:06] vsoch commented on #6
You don't actually need to connect it, but just add my username to have permissions to manage it. I'll generate a robot with specific permissions to deploy.

[2020-06-30 21:28] vsoch commented on #3
ha! I just got it working, I am able to use a first and last name fallback, and if there is more than one result I can show them to the user and say "pick one and add it."

[2020-06-30 22:06] vsoch commented on #6
I'll create one under my account (vanessa) in the meantime to test, etc.

[2020-06-30 22:30] yarikoptic commented on #3
AWESOME!

[2020-06-30 22:47] vsoch commented on #3
This is finished, we can open other issues if something comes up.

[2020-06-30 22:47] #3 closed, assigned to vsoch

[2020-06-30 22:47] vsoch commented on #1
First version of the library is done, going to close this issue.

[2020-06-30 22:47] #1 closed, assigned to nobody

[2020-06-30 22:48] vsoch commented on #4
Maybe an idea for a logo? @yarikoptic ?

[2020-06-30 22:48] vsoch opened #8 "Look into adding code meta"
I haven't used code meta before, but it seems similar in spirit and thus should be added.

[2020-06-30 22:49] vsoch opened #9 "Add recipe for pull request and scheduled"
Add an example recipe to generate / update files and open a pull request (we can test this on some other repository).

[2020-06-30 22:50] vsoch commented on #6
Done https://quay.io/repository/vanessa/tributors?tab=tags.

[2020-06-30 22:57] vsoch opened #10 "Possible API limit on retriving contributions"
When I run the get_contributors function (basically calling the contributors endpoint) for this repo, I only see one entry, you @yarikoptic and since I've pushed commits I think I should be in there as well. Any ideas @yarikoptic ?

[2020-06-30 22:58] vsoch commented on #10
Oh actually it looks like it takes a few hours for it to update, so this might be expected:
![image](https://user-images.githubusercontent.com/814322/86185134-dc5a9f80-baf2-11ea-8734-bdaad28aac58.png)

I'll try again later tonight and update the issue. Sorry for the noise!

[2020-06-30 23:19] vsoch opened #11 "More verbosity when adding a new contributor"
Right now we don't get any extra printing when a new contributor is added, but we possibly should, at logging level info. Thoughts @yarikoptic ?

[2020-06-30 23:52] #11 closed, assigned to nobody

[2020-06-30 23:52] #10 closed, assigned to nobody

[2020-06-30 23:53] vsoch commented on #9
The scheduled example should include adding an ORCID token to look up those identifiers.

[2020-06-30 23:55] vsoch commented on #4
I really like this emoji, 🙌️ so maybe a simplified version of that.

[2020-07-01 01:02] yarikoptic commented on #6
done - https://quay.io/repository/con/tributors you (vsoch) is added as admin.  I didn't link anything yet

[2020-07-01 01:47] vsoch commented on #6
Great! I'll update for the next PR, and make the robot user, update the token, etc. Going to re-open this as a reminder.

[2020-07-01 03:52] yarikoptic commented on #4
good idea! I would not even care to simplify it, but would make sure it comes from some clipart with a permissive license; but then may be somehow reflect the "connectivity" aspect of this project -- that it assists with establishing files for all those zenodo etc? may be "multiple hands handshake" :
![image](https://user-images.githubusercontent.com/39889/86201139-b225d380-bb2c-11ea-9b1f-fc19f7af

[2020-07-01 10:51] vsoch commented on #4
hey @yarikoptic do you know how to give me permission to create robot tokens?
![image](https://user-images.githubusercontent.com/814322/86235920-7273e180-bb56-11ea-9291-4013c8c83b13.png)

If I can't have it, could you create a robot token with write permission, and add the DOCKER_USER and DOCKER_PASSWORD to the repository here to replace the current?

[2020-07-01 20:51] vsoch opened #16 "GitHub pages deployment"
@yarikoptic the site doesn't seem to render to https://con.github.io/tributors/ and I believe this is because you have a CNAME in some repo on here. I'm worried that this doesn't have https, which (other than not being secure) looks really unprofessional. Could you please comment?

[2020-07-01 21:18] vsoch commented on #16
Note, I'm hosting on my fork for the time being - has https and the whole bit. https://vsoch.github.io/tributors/

[2020-07-01 21:19] vsoch commented on #6
I can't do this until I have permission to make a robot user (I do not).

[2020-07-01 21:19] yarikoptic commented on #16
https://con.github.io/tributors/ seems to render for me just fine. Not aware of any repo here with cname. May be just was a delay?

[2020-07-01 21:19] vsoch commented on #4
Done https://vsoch.github.io/tributors/.

[2020-07-01 21:19] #4 closed, assigned to vsoch

[2020-07-01 21:20] yarikoptic commented on #16
Btw website says

© 2019 @vsoch All Rights Reserved

[2020-07-01 21:21] vsoch commented on #16
Huh I'm still getting 404!

![image](https://user-images.githubusercontent.com/814322/86292722-7a5f7000-bbae-11ea-8433-a3a3621e014a.png)

[2020-07-01 21:21] vsoch commented on #16
(Cache disabled)

[2020-07-01 21:27] yarikoptic commented on #16
![Screenshot_20200701-172621](https://user-images.githubusercontent.com/39889/86293130-0b8b1280-bbc0-11ea-87b5-79e34b206fdc.png)

[2020-07-01 21:28] yarikoptic commented on #16
I think it is some cdn oddity, give it some time. I will later test from laptop as well

[2020-07-01 21:30] yarikoptic commented on #6
who needs to give such permission? A new user on GitHub or where?

[2020-07-01 21:47] vsoch commented on #16
phew, it's showing up for me now too! Thank goodness!! Closing.

[2020-07-01 21:47] #16 closed, assigned to nobody

[2020-07-01 21:48] vsoch commented on #16
I blame Microsoft. It must be their fault.

[2020-07-01 21:50] vsoch commented on #6
I need to be able to generate a robot token. It's under settings for the repo - I copy pasted a screen shot in another issue.

[2020-07-01 22:11] yarikoptic commented on #6
I found some screenshot while on the phone which showed that you are an admin but that there is no robot account.

https://stackoverflow.com/questions/29177623/what-is-a-bot-account-on-github suggests that bot account is just a regular account we would need to create and then add to this repo... or please walk me through on what I need to do.

[2020-07-01 22:12] yarikoptic commented on #6
I will be on and off hanging out in https://meet.jit.si/DataLad if you like audio/video contact (unless my browser crashes again)

[2020-07-01 22:22] vsoch commented on #6
I joined but you RAN AWAY

[2020-07-01 22:28] vsoch commented on #6
@yarikoptic come back!

[2020-07-01 23:15] vsoch opened #18 "codemeta: other attributes to add"
long with keywords, we can also parse the license and programming language from the repository.

[2020-07-01 23:34] #8 closed, assigned to nobody

[2020-07-01 23:34] #6 closed, assigned to vsoch

[2020-07-02 00:24] vsoch opened #19 "selectivity about updating cache"
right now we are very generous to update and use the cache, but we should probably follow some standard practices:

 - the cache should hold shared metadata across parsers
 - but we should loop over the self.contributors instead of it, and then lookup in the cache if needed
 - the user should be able to disable update as well.

[2020-07-02 08:25] vsoch opened #20 "Orcid: retrieve additional metadata"
Once we have the is we should be able to get a better affiliation.

[2020-07-02 18:32] yarikoptic opened #21 "minor UI issue: "parser" specific options are not listed in --help"
e.g.
[code]
but
[code]
I guess `--help` could list options for all the parsers and annotate to which any applies?

[2020-07-02 18:58] yarikoptic opened #22 "target use case: initiate .zenodo.json from information available"
I know that it is WiP, but just wanted to create a dedicated issue to know when I should try tributors e.g. on https://github.com/con/open-brain-consent which as `.all-contributorsrc`.  My blind attempt to "trick" tributors resulted in an error which I have no clue where it came from (what was not found) and what I should do (configuration?):

[code]

[2020-07-02 19:28] vsoch commented on #21
If you want to address this you can take a shot, but this is intentional because they aren't actually options, they are parsed from "extra." I've created very detailed tables of options in the docs as a workaround / helper to that.

[2020-07-02 19:35] vsoch commented on #22
If you want to specifically update an `.allcontributorsrc` then you would need to specify that.
[code]
When you leave out the third word:
[code]
You are basically defaulting to "all"

[code]

And note that this is documented here https://con.github.io/tributors/docs/getting-started#3-update-contributors-1.
But we could do this differently, perhaps search for existing files (known to tributors) and

[2020-07-02 19:46] #18 closed, assigned to nobody

[2020-07-02 19:46] #19 closed, assigned to nobody

[2020-07-02 19:46] #20 closed, assigned to nobody

[2020-07-02 19:57] vsoch commented on #22
okay I fixed this so that it better auto-detects, because you're right it's nice to just be able to run `tributors update` and have it update the files it knows about. PR coming soon!

[2020-07-02 20:04] yarikoptic commented on #21
Why not to move those tables to `--help` output or ideally reuse for both `--help` and docs (bigger undertaking, IMHO not immediately needed). FWIW, not directly related, in DataLad we came up with similarish setups for "cmdline" and "Python" examples which are listed in --help and also rendered in the docs, see e.g. https://github.com/datalad/datalad/blob/HEAD/datalad/distribution/install.py#L99

[2020-07-02 20:29] vsoch commented on #21
Yeah, these variables are hugely un-likely to be used in the first place (mostly updating filename defaults that will never change) so I'm not going to volunteer to do this issue. But if this is important to you, feel free to take a shot / PR!

[2020-07-02 20:29] #22 closed, assigned to nobody

[2020-07-02 20:31] vsoch commented on #22
@yarikoptic I addressed this in the PR I just merged, so please test now in the way you tried earlier, just the update in a repository with an .all-contributorsrc should just update that. Also note that you will need to install tributors from GitHub, I haven't released since the original skeleton. E.g.,

[code]

[2020-07-02 21:40] vsoch commented on #9
Recipes added.

[2020-07-02 21:40] #9 closed, assigned to nobody

[2020-07-02 22:49] vsoch opened #26 "Create list of tests needed"
hey @yarikoptic ! I've done just about all the changes / updates that I think are good for this first version, so please have it it / unlease the Yarik! Now is the right time to start review and tell me all the things I did wrong :) In all seriousness I always can quickly put together a first go, but then lots of tweaking / fine tuning / testing is needed. Actually, we don't technically have prope

[2020-07-02 22:50] yarikoptic commented on #22
I didn't even know that it was released to pypi already ;) I tend to prefer local `pip install -e .` in a `git clone` for projects under development.
It does work now in that it adds contributor names!
[code]
Now need to figure out how to make it talk to ORCID?  Should've it may be `tributors` issued some INFO message or WARNING that it is not going to talk to ORCID because xyz?

[2020-07-02 22:51] yarikoptic commented on #26
having tests would be great!  but meanwhile I will follow up with a few separate "issues" on top of https://github.com/con/tributors/issues/22#issuecomment-653251074 initial experience

[2020-07-02 22:59] yarikoptic opened #27 "Be able to limit only to contributors listed in the "source"?"
Follow up to https://github.com/con/tributors/issues/22#issuecomment-653251074

[code]

[code]
So tributors also picked up `yarikoptic-private` which was not in .all-contributorsrc .  In many other projects it would also be useful to limit to some 'authoritive' source of contributors list.  Since all-contributors made it so easy to add them, it would be the one for many projects.  So I wonder if `

[2020-07-02 23:02] yarikoptic opened #28 "Add support for update of lookup"
Follow up https://github.com/con/tributors/issues/22#issuecomment-653251074  where for vborghesani and pjtoussaint no name was added.  But there is a standard `git` feature to have `.mailmap` mapping different logins to desired ones. E.g. our simplistic one in OBC:
[code]
results in
[code]

[2020-07-02 23:05] vsoch commented on #22
You need to export first an ORCID_ID and ORCID_SECRET, and then just an ORCID_TOKEN that is generated for you from that. See details in the environment https://con.github.io/tributors/docs/getting-started#2-environment-1

[2020-07-02 23:06] vsoch commented on #27
The basis of the library is updating contributors from the GitHub API. So, if you didn't want someone added, you would open the text file and delete it. I think for most use cases of wanting contributors from GitHub, we wouldn't want to list only those already defined, it sort of defeats the purpose.

[2020-07-02 23:07] vsoch commented on #28
Does anyone use that anymore? Can you show me some set of repos that have a mailmap file? I'm not convinced this would hit a lot of users...

[2020-07-02 23:07] yarikoptic opened #29 "More information on when interaction with external service fails + offline mode?"
[code]

and expected `update` to just update "name", but it seems did go for a full "interaction":

[code]

1. would be nice to report which service failed... if we even "hard code" some information about most common gotchas and inform user here ("rate limit on communication with X exceeded.  There should be only up to Y interactions.  To increase the limit you need to obtain an API key Z from A,

[2020-07-02 23:08] vsoch commented on #26
okay! Let's prioritize tests though, since we don't have them (it makes me uneasy).

[2020-07-02 23:11] vsoch commented on #29
That is always the GitHub API, and there is a note about it in the docs but we could add a note that it's the GitHub api in the error message.

[2020-07-02 23:16] vsoch opened #30 "GitHub pages search not working"
I pushed a fix but it doesn't seem to be live, this is a reminder to check later. GitHub pages has been pretty disappointing lately. :/

[2020-07-02 23:22] vsoch commented on #30
Fixed.

[2020-07-02 23:22] #30 closed, assigned to nobody

[2020-07-02 23:23] yarikoptic commented on #29
Good docs are great, but IMHO informative --help and error messages are a better guidance. Take git as an example (although indeed it's man pages are now not that easy to digest due to age/richness of functionality - it is then when additional distilled docs/blogs/demos come handy).

[2020-07-02 23:30] yarikoptic commented on #26
What about starting with an integration test for sample use cases where sample input is provided and sample output is verified? vcr library then could be used to record any interaction which happen in that initial run (and committed as well, but be careful to not run with secrets in your environment variables)

Then as bugs are fixed - provide unit tests which code the fixed up behavior in corresp

[2020-07-02 23:49] vsoch commented on #28
okay so I just went on my run, and I have a sense of what this issue is really about. The functionaliy that we haven't implemented yet is being able to say something like:

[code]
So what we would want to do is add a `--from` parser that can handle some input source of emails, orcids, etc, and then the class would be able to parse the source to expose emails, other metadata, and then be able to up

[2020-07-02 23:55] vsoch commented on #28
Quick question though @yarikoptic - would we be saying "use this file as another lookup only for existing entires" OR "update the resource from this file" ? They are different. I think the `--from` I mentioned above would be for the latter, and if you really wanted to just use a file as a lookup, it would need a different interaction. Maybe like:

[code]

[2020-07-03 00:02] vsoch commented on #28
Anyway I'm done working for today! We will get these features added, not totally sure about the UI yet but it'll come to me :)

[2020-07-03 00:03] vsoch commented on #26
Good idea - we will want to do this after adding support for some kind of `--from` or `--lookup`.

But no more today! Dinnertime!

[2020-07-03 00:07] vsoch commented on #28
Ahh I know! We would want to be able to update just the .tributors lookup / cache like

[code]
and then when .tributors is updated with names (would need to derive name based on matching email)

[code]
and this is still different from updating from another parser, that would be:

[code]
Yeah I think I like that :)

[2020-07-03 01:45] yarikoptic commented on #28
I used it for any project where I wanted to see who contributed how many commits... `git shortlog` is the goto command for that.  If `tributors` could help maintaining it -- would be good, but not really an immediate need. But it possibly could be used to harvest more info on contributors if that

<details>
<summary>a quick list of .mailmaps I find on my drive under proj/</summary>

[code]
</detai

[2020-07-03 01:58] yarikoptic commented on #28
re `update` vs `update-lookup` - I am yet to grasp the difference...  So far I see that `.tributors` should become the ultimate "sink" of the information from other sources and also the "single point of manual entry/fixups" so other files could be updated/regenerated from it. `tributors update TO[ --from FROM FROM FROM]` sounds good.  My worry is about how to "react" if `FROM` changed some informa

[2020-07-03 02:00] vsoch commented on #28
.tributors is a shared cache that is updated from GitHub contributors (and potentially other sources when we add update-lookup), but we don’t do direct updates from it (meaning, a user in .tributors not in a zenodo.json won’t just be added to the zenodo.json). The reason is because different parsers might have different users that shouldn’t just be crossed or merged. The update function is intende

[2020-07-03 19:39] vsoch commented on #28
This is done, and the addition of mailmap too. I'll open another issue for the next work, adding `--from`.

[2020-07-03 19:39] #28 closed, assigned to nobody

[2020-07-03 19:40] vsoch opened #32 "Add support to update --from"
As discussed in #28, we also want to add support for updating from.

The functionaliy that we haven't implemented yet is being able to say something like:

[code]
So what we would want to do is add a `--from` parser that can handle some input source of emails, orcids, etc, and then the class would be able to parse the source to expose emails, other metadata, and then be able to update the initial

[2020-07-03 19:41] vsoch commented on #28
@yarikoptic here is your example https://con.github.io/tributors/docs/parsers/mailmap. You'd update from mailmap before running a standard `update` to update contributor files.

[2020-07-03 20:19] vsoch opened #34 "Add --skip-users"
We might want to skip adding users from a specific list, e.g., in this issue https://github.com/USRSE/usrse.github.io/pull/252 I didn't want my "robot account" added (but it was re-added anyway).

[2020-07-03 20:26] yarikoptic opened #36 "a collection based on OBC: collect emails to .tributors records, may be RF .tributors to allow for options, github for update-lookup"
I liked how .all-contributorsrc allows for consistent options storage alongside with the records, may be that should be done for .tributors?  Use case -- in majority (well, all open) projects emails of contributors are available in .mailmap, git commits and possibly as public record from github, zenodo, orcid etc.  They allow to "identify" contributors. But may be in some scenarios that would be u

[2020-07-03 20:29] vsoch commented on #36
You can only update from a mailmap given that you have an email in your .tributors that can be mapped, and then at most it would update a name. That's how it works. GitHub isn't a lookup because it's basically how the core of the library works, but I could add it as a lookup option in case we just want to run that one bit.

[2020-07-03 20:30] yarikoptic commented on #28
oh... I thought that is the sole purpose of .tributors -- to actually provide the "merged" information (possibly even through manual tune up), so then multiple files (`.all-contributorsrc`, `.zenodo.json` etc) could be updated using that possibly merged (and improved) information.

`update` seems also to update it after updating the target file... I am still then not sure "what its purpose in life

[2020-07-03 20:31] vsoch commented on #28
It DOES that's the .tributors file!

[2020-07-03 21:00] yarikoptic commented on #28
ah, ok ;-)  I guess I misunderstood initially the followup statement

[2020-07-03 21:02] yarikoptic commented on #36
I think it is a valuable source for lookup since it binds github logins with emails, right?

[2020-07-03 21:06] vsoch commented on #36
Yes definitely, but it's always run no matter what so I didn't think to add it. I'll add it with another PR.

[2020-07-03 21:13] yarikoptic opened #37 "hard to start going, crashes with not informative traceback"
why just not to assume the same whenever there is no ORCID_TOKEN?  or that is not the reason for

[code]

[2020-07-03 21:21] yarikoptic commented on #37
actually now I did get ID (btw `ORCID_ID` better be something different since first I assumed that it is my orcid id, e.g. `ORCID_CLIENT_ID`), exported both ID and SECRET but getting the same....
AH - that is because I decided to start anew so removed `.tributors` altogether.  Why not to stop demanding `init` and just initiate it empty? if empty -- it would get slowly populated (in its "cache" fun

[2020-07-03 21:22] yarikoptic commented on #37
I think it would be better if just generated empty than leave me stranded or direct to RTFM:
[code]

[2020-07-03 21:23] yarikoptic commented on #37
I think smth like that worked in the past but no longer
[code]

[2020-07-03 21:24] yarikoptic commented on #37
Please make it tolerate a silly yarik who just wants to talk to orcid and get his .all-contributorsrc used to populate .zenodo.json in OBC

NB will be offline for a bit -- family drags me away

[2020-07-03 21:28] yarikoptic commented on #37
BTW it said that it wrong my secret but they seems to be not there:

[code]

[2020-07-03 21:31] vsoch commented on #37
Ah I didn't know that wasn't required, we'll need to fix that.

[2020-07-03 21:47] vsoch commented on #37
You are saying this file does not exist?

[code]

[2020-07-03 21:54] yarikoptic commented on #37
Seems to exist but empty

[2020-07-03 21:55] vsoch commented on #37
okay so I'm removing the GitHub parsing of metadata to update tributors away from happening by default. It will still iterate through the repo contributors from the GitHub api, but the metadata won't be updated unless you ask for it. I've also removed the requirement of a doi, so for your use case you would probably want to do:

[code]

[2020-07-03 22:13] vsoch commented on #27
The GitHub API to get logins for contributors is still used, but the extra metadata not parsed automatically. You can skip users with `--skip-users`.

[2020-07-03 22:13] #27 closed, assigned to nobody

[2020-07-03 22:16] vsoch commented on #29
Two fixes here:

 - the error message is updated to alert about the GitHub API.
 - Zenodo does not require a doi for generation, it just won't add as much metadata
 - there can't really be support for offline because we always use the GitHub contributors as a source of truth, and that requires the API. If we fallback to the .tributors file then that would mean cross-pollination between contributor

[2020-07-03 22:16] #29 closed, assigned to nobody

[2020-07-03 22:16] #34 closed, assigned to nobody

[2020-07-03 22:17] vsoch commented on #36
GitHub is added.

[2020-07-03 22:17] #36 closed, assigned to nobody

[2020-07-04 01:34] yarikoptic commented on #34
It is hard to follow when issues are closed without a note what had closed them. Best strategy is to use `Closes #??` markers either in commit or PR messages. https://docs.github.com/en/enterprise/2.16/user/github/managing-your-work-on-github/closing-issues-using-keywords

[2020-07-04 01:35] vsoch commented on #34
Yep I can do that. It’s hard to do here because when you open an issue I have trouble sometimes pinpointing exactly what needs to be addressed. For those I tried to guess and closed when it was done.

[2020-07-04 18:25] vsoch commented on #37
This issue is not clear, so what needs to be addressed specifically is:

 - the zenodo doi should not be required
 - logins should not be required to have as metadata
 - the writing of the token file has a bug

Also @yarikoptic an Orcid Client ID doesn't refer to an orcid id, it refers to the _client_ that you register as a developer app. It also has a secret.

[2020-07-04 18:28] #32 closed, assigned to nobody

[2020-07-04 18:28] #37 closed, assigned to nobody

[2020-07-04 18:30] yarikoptic commented on #37
- 1 - yes
- 2 - I think so, since we can have contributors without GitHub
- 3 - seems to me, I can investigate deeper later

I got that, and suggested in https://github.com/con/tributors/issues/37#issuecomment-653679768 to rename variable to make it clear

[2020-07-04 18:31] vsoch commented on #37
Oh I fixed the bug for 3! Sorry to clarify, there _was_ a bug and I found it and fixed it (hopefully!)

[2020-07-04 18:32] vsoch opened #41 "rename ORCID_ID to ORCID_CLIENT_ID"
It's not totally as clear as it should be.

[2020-07-30 19:51] vsoch opened #43 "Bug with saving unicode to json"
See https://github.com/datalad/datalad/pull/4789/files/15f8b2727a367298079adfef8e0a2477cabfe8ea#diff-c382e6d696dba7770df288b9f60d3b45

[2020-07-30 20:49] #43 closed, assigned to nobody

[2020-07-30 21:06] yarikoptic commented on #5
crazy idea  -- if it was a bot -- it could have presented those options as an issue (or just part of the PR description) with

[code]

for choices, so we could just select the one we want to add (or not)...
e.g.

[code]

and then monitor for some `@con/tributors process` in a comment so it would
take that markedup description and use it to actually do all the choices
etc.

[2020-07-30 21:13] vsoch commented on #5
This is a cool idea, although it would probably need to be a separate action from the main con/tributors (I'm not sure how one GitHub repo can serve more than one). I think to start wouldn't it be more reasonable to make an actually interactive mode, to run on the command line, and ask the user to choose from a list?

In terms of metadata, it's not trivial to just list all the names /affiliations,

[2020-07-30 21:26] vsoch commented on #5
@yarikoptic this won't work because here is the metadata that we get back:
[code]
And the API works to look up based on metadata, but you can't just get full metadata for any orcid (it only works for your own). So we could add an interactive mode to ask the user to select an orcid (and they would need to still open the browser to do it) or we could keep as is and give them the list, and then assum

[2020-07-31 00:43] yarikoptic commented on #5
rright, according to https://orcid.org/organizations/integrators/API it would require "Basic Member API" to "Search/retrieve member-subscriber data *Subject to permissions granted by iD holders*" and according to https://orcid.org/about/membership "Standard (single legal entity): US$5,150 " (- some discounts) which is quite obnoxious IMHO.  I would have probably paid ~100$ to support/use ... but h

[2020-07-31 00:46] vsoch commented on #5
Awesome! Yes please let me know and I can update here to support it, if it's something we could reasonably do.

[2020-08-03 20:17] yarikoptic opened #46 "orcid: search "also known as"?"
In regards to https://github.com/datalad/datalad/pull/4789/files#diff-c382e6d696dba7770df288b9f60d3b45R68 where I spotted that a likely orcid was not added: I think this one https://orcid.org/0000-0001-7037-2449 . He does have the name ("Horea Christian") in "Also known as". Could that be searched for as well?

[2020-08-03 21:18] yarikoptic opened #47 "zenodo: do not just return empty on "unauthorized" etc while doing orcid query"
I was trying to run
[code]
to only realize that `401` is unauthorized, so it should have just bailed out right away announcing that I forgot to provide token.
Code has
[code]
so just returns upon any non-successfull attempt.  It should be more particular IMHO. In the future might even want to retry on some server side fails (5xx code) etc.

[2020-08-03 21:19] yarikoptic commented on #47
[code]

[2020-08-03 21:22] yarikoptic commented on #47
I jinxed it... If I reexport `ORCID_SECRET` and `ORCID_ID` (forgot where I stored the token). search query comes back with 500:
[code]
so it seems that syntax is incorrect.

[2020-08-03 21:25] yarikoptic commented on #47
yeap, removing empty part, it works:
[code]
so please sanitize input into search... sorry for piling up unrelated issues into one.
Ideally -- please add a unittest, so if there is token known, it would perform a number of queries for `get_orcid` for known entities where you know expected output. `vcr` library could be used to cache it locally at least

[2020-08-03 21:29] vsoch commented on #46
Just tested this - I'm not sure it helps because it gives us over 400 results, even if the first is correct it's not guaranteed to be.

[code]

[2020-08-03 21:30] vsoch commented on #46
Do you still want me to add it?

[2020-08-03 21:33] vsoch commented on #47
The orcid search is so messy we shouldn't allow it to happen if there isn't a first and last name. I'll break in this case.

[2020-08-03 21:36] yarikoptic commented on #5
uff, ok - looked at https://pub.orcid.org/v3.0/#!/Development_Public_API_v3.0/viewRecordv3 and it seems you do not even need any TOKEN to access public records.  So, as long as you have (a candidate) orcid id already, it seems to possible to retrieve an entire public record, e.g.
[code]
from which you could display name, affiliation(s), etc.  It seems no token is even needed for basic search:
[cod

[2020-08-03 21:37] vsoch commented on #46
See https://github.com/con/tributors/pull/48, I added it.

[2020-08-03 21:37] vsoch commented on #47
See https://github.com/con/tributors/pull/48.

[2020-08-03 21:38] vsoch commented on #5
okay so let's say that we do this - and that we get a result of N=400 for some other names query. Then we would do 400 other requests just to show the user a list? :/

[2020-08-03 21:42] yarikoptic commented on #5
so why did we need token at all?  It seems to be doing quite good job for me as well:
[code]
for Michael Hanke it brings some false positives etc, actually not even sure if real one among them -- good example where showing possibly emails etc would be of help to disambiguate.

The question is though -- why needed to do all the API token dance? ;)

[2020-08-03 21:43] yarikoptic commented on #5
note: doesn't tollerate unicode well ;)
[code]

[2020-08-03 21:43] vsoch commented on #5
Good question - I never got it to work without the token! Let me give that a try.

[2020-08-03 22:38] vsoch commented on #5
Yep that works! The difference is that you are using expanded-search and not regular search, which I had never tried. I'll update the current PR to do this, and also add interactive mode since we have the metadata available.

[2020-08-04 19:44] yarikoptic commented on #26
as requested in #48 I think it would be useful to establish a "high level" unittest for verifying finding out correct ORCID ids.
- Sample search queries could be
   - "Yaroslav Halchenko"   and "Halchenko, Yaroslav" - should find 1 -- 0000-0003-3456-2493
   - ideally, search for unicode names, e.g. "Ярослав Олеговіч Гальченко" although that one is actually in "other-names"
   - "Zumbudda" - should

[2020-08-04 19:49] vsoch commented on #26
I can add this to the PR! Can you tell me more about what you mean by using the vcr library to "record transactions" (I'm not familiar with this). My basic intuition would be to add a few tests for the list you generated, to be run on a PR, which I don't think would be abusing the API. What tapes?

[2020-08-04 19:52] yarikoptic commented on #26
https://vcrpy.readthedocs.io/en/latest/
FWIW, we use it in datalad for some tests and have helper: https://github.com/datalad/datalad/blob/master/datalad/support/vcr_.py#L44  but most likely you don't need anything like that ;)

[2020-08-04 19:53] yarikoptic opened #49 "FOI: orcid API use example -- https://github.com/ropensci/rorcid"
just for our information, feel free to close immediately upon reading ;)

https://github.com/ropensci/rorcid

[2020-08-04 20:03] yarikoptic opened #50 "zenodo: ability to add grant information based on information from orcid"
zenodo allows to annotate for funding grants which supported the project.

So for datalad we have
[code]
where IIRC 10.13039/100000001 corresponds to NSF and  1429999 is the grant number.

<details>
<summary>that funding agency thing is a proper DOI:</summary>

[code]
</details>

ORCID records also contain grant  information, see e.g. my orcid record which would have
[code]
and some more...

IIRC

[2020-08-04 20:05] yarikoptic opened #51 "FOI: orcid API python library"
Burn upon reading as well but there is https://github.com/ORCID/python-orcid -- not sure if we need anything but could provide examples and hints to make sure API is used correctly etc.

[2020-08-04 20:05] vsoch commented on #50
Hmm. I'm thinking that if you look at most of these projects, you don't see grant information there, and it would be more of a PITA to have to skip each time than to look up. This isn't something that I think should be added to the user interface.

[2020-08-04 20:06] vsoch commented on #51
What does FOI mean? @yarikoptic you are killing me with your acronyms!

[2020-08-04 20:07] vsoch commented on #49
Thanks!

[2020-08-04 20:07] #49 closed, assigned to nobody

[2020-08-04 21:53] yarikoptic commented on #50
you don't see because most of them don't know it is possible, and some others tried and failed.

"skip each time" - that is what I am talking here and also about skip person while (not) adding ORCID -- tributors should maintain some record on what records to skip (per person like orcid or per project like specific grant)

[2020-08-04 21:57] vsoch commented on #50
We can't for orcid because the lookup is based on GitHub login, and the zenodo API / metadata has no understanding of that.

[2020-08-05 01:03] yarikoptic commented on #50
"We can't" what exactly?

[2020-08-05 01:05] vsoch commented on #50
In order to store some parameter like a skip preference in the tributors cache we would need to be able to look up by the GitHub login, which is the index for the tributors file. Since Zenodo has no understanding of a github login there is no way that we can do that.

[2020-08-05 01:37] yarikoptic commented on #50
re skipping the grant - that one is project wide, does not need to be associated with any account.  There could be `grants-to-skip` key in `.tributors` (probably worth restructuring to have dedicated `"contributors"` for contributors) or alike which would be a list of them.

What `.tributors` file is and its role to me is still not entirely clear (and could not even answer Michael when he asked be

[2020-08-05 01:47] vsoch commented on #50
Name isn’t a good unique identifier, just having a difference in First Last or Last First or a middle name would throw it off. And look at mine - Vanessasaurus! It would never work. I think the cache is out of scope for the current PR, but I do agree we need some way to create association between the resources. I couldn’t come up with anything reliable, hence why I settled on the GitHub login and

[2020-08-05 03:32] yarikoptic commented on #50
for zenodo, AFAIK name is the identifier (within the project).  Whenever there would be two "Vanessa Sochat" in a project/on a paper, I guess something indeed would need to be done so to not throw zenodo off its whims as well.  if you could check if there is some allowed "id" like field to be added in zenodo, may be it could be used as an auxiliary (only for such cases) disambiguator.  Otherwise I

[2020-08-05 03:42] vsoch commented on #50
That could work! So for a new PR I can refactor the tributors lookup time be a list, and any matching field is game for calling it a match. That also means however that it’s very likely to get doubles for people, for example for me there would be one entry for vsoch and Vanessasaurus and possibly another with a name and Zenodo, but you’d be unlikely to find that name in the wild. Do you think this

[2020-08-05 18:27] vsoch commented on #46
This will be closed with #48 because we don't use specific attributes for the search anymore.

[2020-08-06 15:12] #41 closed, assigned to vsoch

[2020-08-06 15:12] #46 closed, assigned to nobody

[2020-08-06 15:12] #47 closed, assigned to nobody

[2021-04-22 17:51] yarikoptic opened #53 "mysterious user was added to datalad"
I guess would be tricky to figure out now how/why, but in https://github.com/datalad/datalad/commit/011cb1532d9edeba04bb60c41e8b73d28c8072bf
[code]
was added but that user not longer exists on github, no activity reported in google cache for that  login
https://webcache.googleusercontent.com/search?q=cache:yAuBXNE0jawJ:https://github.com/bhanuprasad14+&cd=1&hl=en&ct=clnk&gl=us
and I see no contrib

[2021-04-22 18:03] vsoch commented on #53
I'm not sure, but if it's wrong I'd remove it. If the bug resurfaces, there would be a PR to add this mysterious author again. If the account is deleted then the commits are also no longer linked.

@yarikoptic this was almost a year ago! I definitely don't have any logs. If the entry is not re-generated I would chock it up to probably just a mistaken addition on my part.

[2021-04-29 23:26] yarikoptic opened #54 "HOWTO new types of "contribution""
In light of the [ongoing discussion in BIDS](https://github.com/bids-standard/bids-specification/issues/627#issuecomment-829445877) I thought that tributors could be a nice fit!  For that to happen we would need
- be able to create additional contribution categories, such as "steering-committee" or "bep032" to annotate contributors involved in a particular activity/sub-project. It seems that all-c

[2021-04-29 23:31] yarikoptic opened #55 "cummulative vs "temporal""
This is a follow up to #54 and https://github.com/bids-standard/bids-specification/issues/627#issuecomment-829445877: The remove of "contributions" from contributors no longer associated with some "dynamic entity" (such as "steering committee") is somewhat not "in-line" with the idea of all-contributors which is "cumulative" - all categories a person contributed to some point in time. But it opens

[2021-04-30 22:30] yarikoptic opened #56 "ideally order of new additions should be deterministic"
I guess somewhere some set or unordered dict in place.

In datalad we got two PRs (since we didn't react to initial in time) for the "same" change:
https://github.com/datalad/datalad/pull/5618 and https://github.com/datalad/datalad/pull/5622

I thought diffs would be identical and then the fix needs to be solely at the level of workflow but apparently there are differences in order:

[code]

[2021-06-26 13:19] yarikoptic opened #57 "JOSS heading -> zenodo"
In the light of possibly needing to adjust .zenodo.json to have a JOSS paper published: https://github.com/openjournals/joss-reviews/issues/3262#issuecomment-868949193 I thought it would have been cool if tributors could help here!?

[2021-07-29 14:58] yarikoptic opened #58 "support CITATION.cff"
https://github.com/citation-file-format/citation-file-format#:~:text=The%20Citation%20File%20Format%20(CFF,%2Dformat.github.io.

recently added to datalad

[2021-07-29 15:30] yarikoptic commented on #53
remained a mystery and I didn't want to act blindly to not miss some non-sanctioned commit in the history...
searching for https://twitter.com/bhanuprasad14?lang=en lead me to https://github.com/phpbench/phpbench/blob/master/phpstan-baseline.neon which shows @bhanuprasad14 (which is no longer on github) being a contributor

![image](https://user-images.githubusercontent.com/39889/127516565-a38751b

[2021-07-29 15:35] #53 closed, assigned to nobody

[2021-08-18 13:55] yarikoptic opened #60 "update-lookup: crashes with "ValueError: too many values to unpack" on .mailmap parsin"
[code]

[2021-08-18 16:59] vsoch commented on #60
I think it 's probably related to (me) not knowing you could have the same name twice in the map! I'll put it on my queue to look over the weekend @yarikoptic (bugs are fun :))

[2022-02-19 20:45] yarikoptic opened #63 "Orcid integration and/or test need fishing"
As disabled here https://github.com/con/tributors/pull/62/files#diff-65096e28526e2e8a67f2ae646c63a4b39ebb7881be7879fd0a3023352167365bR41

[2022-06-16 09:00] bkhelifi opened #65 "Filtering per date"
Dear Authors,
I have rather a question than posting an issue.
Can we make a list of contributors filtered by dates, ie with a 'since' and a 'last', for any branch/dev/etc?
Thank you in advance
B.

[2022-06-16 18:00] vsoch commented on #65
hey @bkhelifi ! We could probably parse the git history (either directly or by API) to add this date - but I'm not sure until I've tried it.

If you want a quick tool (that works now) to be able to assess contributions between two dates, where a date can be represented as a git commit or tag, check out citelang contrib: https://vsoch.github.io/citelang/getting_started/user-guide.html#contrib. Woul

[2022-06-16 18:12] bkhelifi commented on #65
Thanks for the feedback.
The Use Case is to make the list of contributors for a given release (identified by a tag, a release, a branch). Given their dates, I can then filter the contributions.
This might be an interesting feature...

[2022-06-16 18:29] vsoch commented on #65
I think that fits squarely with what citelang contrib does, if you'd like to try it out. The Sylabs team used it to derive the numbers in their post here. https://sylabs.io/2022/05/whats-in-a-singularityce-release/.

[2022-06-16 18:52] bkhelifi commented on #65
Good to know! Thank you for the reference... I will have a look

[2022-06-18 07:35] Remi-Gau opened #66 "automated pull request workflow"
The template in the repo for the automated pull requests was giving me lots of failures:

https://github.com/cpp-lln-lab/CPP_ROI/actions/runs/2518984368

Fixed by using another github action to open the PR at the end of the workflow:

https://github.com/cpp-lln-lab/CPP_ROI/blob/96350f5100057c607eaf8dae16363ea229e7f08a/.github/workflows/update-contributors.yml#L40

Side note:

Using this automated

[2022-06-18 07:37] vsoch commented on #66
This version is quite old: https://github.com/con/tributors/blob/de944deeaf5b24fb65518125d5d87e8b939191fb/examples/automated-pull-request.yml#L85 and we should update to latest (with many bug fixes).

[2022-09-08 17:54] yarikoptic opened #69 "catch/react to github user renames"
I am not yet 100% certain how/if that is possible but the use case happened recently: https://github.com/datalad/datalad/pull/7019#discussion_r965206397 .

[2022-09-16 12:36] adswa opened #70 "allcontributors bot and tributors workflow seem to have a different opinion on spaces"
https://github.com/datalad/datalad-gooey uses both the GitHub tributors action - THANKS! - and the all-contributors bot (to easily credit non-commit contributions). https://github.com/datalad/datalad-gooey/pull/122/files seems to suggest that the bot and the action have a different taste about spaces. In practice, this causes the action to run after a [manual call to the bot](https://github.com/da

[2022-09-16 14:55] vsoch commented on #70
It's that same client used under the hood, so the differences would likely result from the version installed https://github.com/con/tributors/blob/d8f3cdb3933826202231f24513d4fb62ab590135/Dockerfile#L17 or the generation command https://github.com/con/tributors/blob/d8f3cdb3933826202231f24513d4fb62ab590135/docker/entrypoint.sh#L105.

[2022-09-16 15:24] adswa commented on #70
indeed, an update solved it :pray: thanks, sorry for the noise!

[2022-09-16 15:24] #70 closed, assigned to nobody

[2022-09-16 15:25] vsoch commented on #70
No worries!

[2022-11-16 23:12] yarikoptic opened #73 "auto-mate releases"
@jwodder would you be so kind?

[2022-11-28 23:41] #60 closed, assigned to nobody